@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

/*
font-family: 'Barlow', sans-serif;
font-weight:600;

font-family: 'Fraunces', serif;
font-weight:700 900;
*/

:root {
  --softRed: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --darkDesaturatedCyan: hsl(167, 40%, 24%); /*(graphic design text)*/
  --darkDlue: hsl(198, 62%, 26%); /*(photography text)*/
  --darkModerateCyan: hsl(168, 34%, 41%); /*(footer)*/
  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

header {
  background-image: url("images/desktop/image-header.jpg");
  background-size: cover;
  height: 100vh;
}

nav {
  display: inline-flex;
  align-items: center;
  margin-left: 600px;
}
.logo {
  margin-left: 45px;
  margin-top: 30px;
  display: inline;
}

.nav-links {
  display: inline-flex;
}

.nav-links > li {
  margin-right: 50px;
}

.nav-links > li > a {
  font-family: "Barlow", sans-serif;
  color: white;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

button {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  color: var(--veryDarkDesaturatedBlue);
  background-color: var(--White);
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  margin-right: 50px;
}

header > h1 {
  font-size: 45px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--White);
  letter-spacing: 10px;
  margin-top: 7%;
  margin-left: 35%;
}

.arrow {
  margin-top: 13%;
  margin-left: 50%;
}

/*    1       */

.sectionOne {
  display: flex;
}

.sectionOne-Left {
  width: 950px;
}

.sectionOne-Right {
  width: 950px;
}

.sectionOne-info > h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: black;
  max-width: 300px;
  margin-top: 215px;
  margin-left: 250px;
}

.sectionOne-info > p {
  color: var(--veryDarkGrayishBlue);
  max-width: 415px;
  line-height: 25px;
  margin-left: 250px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.sectionOne-info > a {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: black;
  margin-left: 255px;
}

.LM-1 {
  border-bottom: 1px solid var(--Yellow); /* FIX / DO THIS*/
}

.egg-img {
  display: block;
  width: 100%;
  height: 100%;
}

/*    2       */

.sectionTwo {
  display: flex;
}

.sectionTwo-Left {
  width: 950px;
}

.sectionTwo-Right {
  width: 950px;
}

.sectionTwo-Right > h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: black;
  width: 300px;
  margin-top: 215px;
  margin-left: 250px;
}

.sectionTwo-Right > p {
  color: var(--veryDarkGrayishBlue);
  width: 415px;
  line-height: 25px;
  margin-left: 250px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.sectionTwo-Right > a {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: black;
  margin-left: 255px;
}

.LM-2 {
  border-bottom: 1px solid var(--softRed); /* FIX / DO THIS*/
}

.cup-img {
  display: block;
  width: 100%;
  height: 100%;
}

/*    3       */

.sectionThree {
  display: flex;
}

.sectionThree-Left {
  width: 950px;
  position: relative;
}

.sectionThree-Right {
  width: 950px;
  position: relative;
}

.Section3-Left-Info {
  position: absolute;
  margin-top: 55%;
  margin-left: 30%;
}

.Section3-Right-Info {
  position: absolute;
  margin-top: 55%;
  margin-left: 30%;
}

.Section3-Left-Info > h2 {
  color: var(--darkDesaturatedCyan);
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-left: 75px;
  font-size: 3rem;
}

.Section3-Left-Info > p {
  color: var(--darkDesaturatedCyan);
  font-family: "Barlow", sans-serif;
  max-width: 390px;
  text-align: center;
  margin-top: 35px;
}

.Section3-Right-Info > h2 {
  color: var(--darkDlue);
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-left: 85px;
  font-size: 3rem;
}

.Section3-Right-Info > p {
  color: var(--darkDlue);
  font-family: "Barlow", sans-serif;
  max-width: 390px;
  text-align: center;
  margin-top: 35px;
}

.cherry-img {
  width: 100%;
  display: block;
}

.orange-img {
  width: 100%;
  display: block;
}

/*    4       */

.sectionFour > h4 {
  display: flex;
  justify-content: center;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: var(--grayishBlue);
  letter-spacing: 5px;
  padding-top: 70px;
}

.testimonials {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 85px;
}

.cus-img-1 {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.cus-img-2 {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.cus-img-3 {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.Testimonial-One > p {
  color: var(--veryDarkGrayishBlue);
  font-family: "Barlow", sans-serif;
  max-width: 350px;
  text-align: center;
  padding-top: 35px;
}

.Testimonial-One > h5 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-top: 40px;
}

.Testimonial-One > h6 {
  color: var(--grayishBlue);
  font-family: "Barlow", sans-serif;
  padding-top: 10px;
}

.Testimonial-Two > p {
  color: var(--veryDarkGrayishBlue);
  font-family: "Barlow", sans-serif;
  max-width: 350px;
  text-align: center;
  padding-top: 35px;
}

.Testimonial-Two > h5 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-top: 40px;
}

.Testimonial-Two > h6 {
  color: var(--grayishBlue);
  font-family: "Barlow", sans-serif;
  padding-top: 10px;
}

.Testimonial-Three > p {
  color: var(--veryDarkGrayishBlue);
  font-family: "Barlow", sans-serif;
  max-width: 350px;
  text-align: center;
  padding-top: 35px;
}

.Testimonial-Three > h5 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-top: 40px;
}

.Testimonial-Three > h6 {
  color: var(--grayishBlue);
  font-family: "Barlow", sans-serif;
  padding-top: 10px;
}

/*    5       */

.sectionFive {
  display: flex;
  width: 100%;
}

.milk-img {
  width: 25%;
  display: block;
}

.orangeMilk-img {
  width: 25%;
  display: block;
}

.cone-img {
  width: 25%;
  display: block;
}

.sugarcube-img {
  width: 25%;
  display: block;
}

/*    FOOTER     */

footer {
  background-color: rgb(144, 212, 197);
  text-align: center;
}

.f-logo {
  color: rgb(40, 111, 95);
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-top: 45px;
  margin-left: 20px;
}

.footer-menu {
  display: flex;
  padding-top: 35px;
}

.footer-links {
  display: flex;
  margin: auto;
  font-family: "Barlow", sans-serif;
}

.footer-links > li > a {
  color: var(--darkModerateCyan);
  margin-left: 40px;
}

.social-links {
  padding-top: 60px;
  padding-bottom: 40px;
}

.social-links > a > img {
  margin-left: 20px;
}
