@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

/*
font-family: 'Barlow', sans-serif;
font-weight:600;

font-family: 'Fraunces', serif;
font-weight:700 900;
*/

:root {
  /*   Primary   */
  --softRed: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --darkDesaturatedCyan: hsl(167, 40%, 24%);
  --darkDlue: hsl(198, 62%, 26%);
  --darkModerateCyan: hsl(168, 34%, 41%);

  /*   Neutral   */
  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

/*    HEADER    */

header {
  background-image: url("images/desktop/image-header.jpg");
  background-size: cover;
  height: 100vh;
}

.top-header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 50px;
}

.logo {
  height: 27px;
  width: 150px;
}

.nav-links > li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links > li > a {
  color: var(--White);
  font-family: "Barlow", sans-serif;
}

.contact-btn {
  color: var(--veryDarkDesaturatedBlue);
  font-family: "Barlow", sans-serif;
  background-color: var(--White);
  padding: 0.7em 1.3em;
  margin-left: 20px;
  border-radius: 1.6em;
}

.bottom-header {
  text-align: center;
}

.bottom-header > h1 {
  color: var(--White);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 50px;
  padding: 80px 0;
  letter-spacing: 10px;
}

.bottom-header > img {
  display: block;
  margin: 100px auto;
  width: 3%;
}

/*    1       */

.sectionOne {
  display: flex;
  width: 100%;
}

.sectionOne-Left {
  display: flex;
  width: 50%;
}

.sectionOne-Right {
  width: 50%;
}

.sectionOne-Info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.sectionOne-Info > h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--veryDarkDesaturatedBlue);
  max-width: 320px;
  padding-bottom: 30px;
}

.sectionOne-Info > p {
  color: var(--veryDarkGrayishBlue);
  font-family: "Barlow", sans-serif;
  max-width: 450px;
  line-height: 25px;
  padding-bottom: 30px;
}

.LM-1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: black;
  border-bottom: 1px solid var(--Yellow); /* FIX / DO THIS*/
}

.egg-img {
  width: 100%;
  height: 100%;
  display: block;
}

/*    2       */

.sectionTwo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sectionTwo-Left {
  width: 50%;
}

.sectionTwo-Right {
  display: flex;
  width: 50%;
}

.sectionTwo-Info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.sectionTwo-Info > h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--veryDarkDesaturatedBlue);
  max-width: 400px;
  padding-bottom: 30px;
}

.sectionTwo-Info > p {
  color: var(--veryDarkGrayishBlue);
  font-family: "Barlow", sans-serif;
  max-width: 450px;
  line-height: 25px;
  padding-bottom: 30px;
}

.LM-2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: black;
  border-bottom: 1px solid var(--softRed); /* FIX / DO THIS*/
}

.cup-img {
  width: 100%;
  height: 100%;
  display: block;
}

/*    3       */

.sectionThree {
  display: flex;
  width: 100%;
}

.sectionThree-Left {
  width: 50%;
  position: relative;
}

.sectionThree-Right {
  width: 50%;
  position: relative;
}

.Section3-Left-Info {
  position: absolute;
  margin-top: 55%;
  margin-left: 30%;
}

.Section3-Right-Info {
  position: absolute;
  padding-top: 55%;
  padding-left: 30%;
}

.Section3-Left-Info > h2 {
  color: var(--darkDesaturatedCyan);
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-left: 75px;
  font-size: 3rem;
}

.Section3-Left-Info > p {
  color: var(--darkDesaturatedCyan);
  font-family: "Barlow", sans-serif;
  max-width: 390px;
  text-align: center;
  margin-top: 35px;
}

.Section3-Right-Info > h2 {
  color: var(--darkDlue);
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-left: 85px;
  font-size: 3rem;
}

.Section3-Right-Info > p {
  color: var(--darkDlue);
  font-family: "Barlow", sans-serif;
  max-width: 390px;
  text-align: center;
  padding-top: 35px;
}

.cherry-img {
  width: 100%;
  display: block;
}

.orange-img {
  width: 100%;
  display: block;
}

/*    4       */

.sectionFour > h4 {
  display: flex;
  justify-content: center;
  color: var(--grayishBlue);
  font-family: "Fraunces", serif;
  font-weight: 700;
  padding-top: 70px;
  letter-spacing: 5px;
}

.testimonials {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 85px;
}

.cus-img-1 {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.cus-img-2 {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.cus-img-3 {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.Testimonial-One > p {
  color: var(--veryDarkGrayishBlue);
  font-family: "Barlow", sans-serif;
  max-width: 350px;
  padding-top: 35px;
  text-align: center;
}

.Testimonial-One > h5 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-top: 40px;
}

.Testimonial-One > h6 {
  color: var(--grayishBlue);
  font-family: "Barlow", sans-serif;
  padding-top: 10px;
}

.Testimonial-Two > p {
  color: var(--veryDarkGrayishBlue);
  font-family: "Barlow", sans-serif;
  max-width: 350px;
  padding-top: 35px;
  text-align: center;
}

.Testimonial-Two > h5 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-top: 40px;
}

.Testimonial-Two > h6 {
  color: var(--grayishBlue);
  font-family: "Barlow", sans-serif;
  padding-top: 10px;
}

.Testimonial-Three > p {
  color: var(--veryDarkGrayishBlue);
  font-family: "Barlow", sans-serif;
  max-width: 350px;
  padding-top: 35px;
  text-align: center;
}

.Testimonial-Three > h5 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-top: 40px;
}

.Testimonial-Three > h6 {
  color: var(--grayishBlue);
  font-family: "Barlow", sans-serif;
  padding-top: 10px;
}

/*    5       */

.sectionFive {
  display: flex;
  width: 100%;
}

.milk-img {
  width: 25%;
  display: block;
}

.orangeMilk-img {
  width: 25%;
  display: block;
}

.cone-img {
  width: 25%;
  display: block;
}

.sugarcube-img {
  width: 25%;
  display: block;
}

/*    FOOTER     */

footer {
  background-color: rgb(144, 212, 197);
  text-align: center;
}

.f-logo {
  color: rgb(40, 111, 95);
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-top: 45px;
  margin-left: 20px;
}

.footer-menu {
  display: flex;
  padding-top: 35px;
  padding-bottom: 40px;
}

.footer-links {
  display: flex;
  font-family: "Barlow", sans-serif;
  margin: auto;
}

.footer-links > li > a {
  color: var(--darkModerateCyan);
  padding: 20px;
}

.social-links {
  padding-bottom: 25px;
}

.social-links > a > img {
  padding: 10px;
}
