@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

/*
font-family: 'Barlow', sans-serif;
font-weight:600;
font-family: 'Fraunces', serif;
font-weight:700 900;
*/

:root {
  /*   Primary   */
  --softRed: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --darkDesaturatedCyan: hsl(167, 40%, 24%);
  --darkDlue: hsl(198, 62%, 26%);
  --darkModerateCyan: hsl(168, 34%, 41%);

  /*   Neutral   */
  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

/*    HEADER    */

header {
  background-image: url("images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
}

#mobileNav {
  display: none;
}

.top-header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 60px;
}

.nav-links > li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links > li > a {
  color: var(--White);
  font-family: "Barlow", sans-serif;
}

.contact-btn {
  color: var(--veryDarkDesaturatedBlue);
  font-family: "Barlow", sans-serif;
  background-color: var(--White);
  padding: 0.7em 1.3em;
  margin-left: 20px;
  border-radius: 1.6em;
}

.contact-btn:hover {
  color: hsl(0, 0%, 100%);
  background: hsla(0, 0%, 100%, 0.4);
}

.bottom-header-text > h1 {
  color: var(--White);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 50px;
  padding: 80px 0;
  letter-spacing: 10px;
}

.bottom-header-text > img {
  display: block;
  margin: 100px auto;
  width: 3.5%;
}

/*    1       */

.sectionOne {
  display: flex;
  width: 100%;
}

.sectionOne-Info {
  display: flex;
  width: 50%;
}

.sectionOne-Info-Text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.sectionOne-Info-Text > h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--veryDarkDesaturatedBlue);
  max-width: 320px;
  padding-bottom: 30px;
}

.sectionOne-Info-Text > p {
  color: var(--veryDarkGrayishBlue);
  font-family: "Barlow", sans-serif;
  max-width: 450px;
  line-height: 30px;
  padding-bottom: 30px;
}

.LM-1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: black;
}

.LM-1::after {
  content: "";
  display: block;
  background-color: var(--Yellow);
  width: 140px;
  height: 9px;
  margin: -8px -4px;
  border-radius: 10px;
  opacity: 0.3;
}

.LM-1:hover::after {
  color: var(--Yellow);
  opacity: 1;
}

.sectionOne-Image {
  width: 50%;
}

.egg-img-D {
  width: 100%;
  height: 100%;
  display: block;
}

.egg-img-M {
  display: none;
}

/*    2       */

.sectionTwo {
  display: flex;
  width: 100%;
}

.sectionTwo-Image {
  width: 50%;
}

.cup-img-D {
  width: 100%;
  height: 100%;
  display: block;
}

.cup-img-M {
  display: none;
}

.sectionTwo-Info {
  display: flex;
  width: 50%;
}

.sectionTwo-Info-Text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.sectionTwo-Info-Text > h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--veryDarkDesaturatedBlue);
  max-width: 400px;
  padding-bottom: 30px;
}

.sectionTwo-Info-Text > p {
  color: var(--veryDarkGrayishBlue);
  font-family: "Barlow", sans-serif;
  max-width: 450px;
  line-height: 25px;
  padding-bottom: 30px;
}

.LM-2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: black;
}

.LM-2:after {
  content: "";
  display: block;
  background-color: var(--softRed);
  width: 140px;
  height: 9px;
  margin: -8px -4px;
  border-radius: 10px;
  opacity: 0.3;
}

.LM-2:hover:after {
  background-color: var(--softRed);
  opacity: 1;
}

/*    3       */

.sectionThree {
  display: flex;
  text-align: center;
  width: 100%;
}

.sectionThree-Left-Top {
  display: flex;
  width: 50%;
  position: relative;
  justify-content: center;
}

.Section3-LT-Info {
  position: absolute;
  top: 70%;
  margin: 0 auto;
}

.Section3-LT-Info > h2 {
  color: var(--darkDesaturatedCyan);
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-bottom: 30px;
}

.Section3-LT-Info > p {
  color: var(--darkDesaturatedCyan);
  font-family: "Barlow", sans-serif;
  max-width: 390px;
  line-height: 30px;
}

.cherry-img-D {
  display: block;
  width: 100%;
}

.cherry-img-M {
  display: none;
}
.sectionThree-Right-Bottom {
  display: flex;
  width: 50%;
  position: relative;
  justify-content: center;
}

.Section3-RB-Info {
  position: absolute;
  top: 70%;
  margin: 0 auto;
}

.Section3-RB-Info > h2 {
  color: var(--darkDlue);
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-bottom: 30px;
}

.Section3-RB-Info > p {
  color: var(--darkDlue);
  font-family: "Barlow", sans-serif;
  max-width: 390px;
  line-height: 30px;
}

.orange-img-D {
  width: 100%;
  display: block;
}

.orange-img-M {
  display: none;
}
/*    4       */

.sectionFour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sectionFour > h4 {
  color: var(--grayishBlue);
  font-family: "Fraunces", serif;
  font-weight: 700;
  padding-top: 70px;
  letter-spacing: 5px;
}

.testimonials {
  display: flex;
  justify-content: space-evenly;
  padding-top: 60px;
  padding-bottom: 85px;
}

.cus-img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.Testimonial-One > p {
  color: var(--veryDarkGrayishBlue);
  font-family: "Barlow", sans-serif;
  max-width: 350px;
  padding-top: 35px;
}

.Testimonial-One > h5 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-top: 40px;
}

.Testimonial-One > h6 {
  color: var(--grayishBlue);
  font-family: "Barlow", sans-serif;
  padding-top: 10px;
}

.Testimonial-Two > p {
  color: var(--veryDarkGrayishBlue);
  font-family: "Barlow", sans-serif;
  max-width: 350px;
  padding-top: 35px;
}

.Testimonial-Two > h5 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-top: 40px;
}

.Testimonial-Two > h6 {
  color: var(--grayishBlue);
  font-family: "Barlow", sans-serif;
  padding-top: 10px;
}

.Testimonial-Three > p {
  color: var(--veryDarkGrayishBlue);
  font-family: "Barlow", sans-serif;
  max-width: 350px;
  padding-top: 35px;
}

.Testimonial-Three > h5 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-top: 40px;
}

.Testimonial-Three > h6 {
  color: var(--grayishBlue);
  font-family: "Barlow", sans-serif;
  padding-top: 10px;
}

/*    5       */

.sectionFive {
  display: flex;
  width: 100%;
}

.desktop-Gallery {
  display: flex;
}

.milk-img-D {
  width: 25%;
  display: block;
}

.orangeMilk-img-D {
  width: 25%;
  display: block;
}

.cone-img-D {
  width: 25%;
  display: block;
}

.sugarcube-img-D {
  width: 25%;
  display: block;
}

.mobile-Gallery {
  display: none;
}
/*    FOOTER     */

footer {
  background-color: rgb(144, 212, 197);
  text-align: center;
}

.f-logo {
  color: rgb(40, 111, 95);
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding-top: 45px;
  margin-left: 20px;
}

.footer-menu {
  display: flex;
  padding-top: 35px;
  padding-bottom: 40px;
}

.footer-links {
  display: flex;
  font-family: "Barlow", sans-serif;
  margin: auto;
}

.footer-links > li > a {
  color: var(--darkModerateCyan);
  padding: 20px;
}

.footer-links > li > a:hover {
  color: var(--White);
}

.social-links {
  padding-bottom: 35px;
}

.social-links > a > img {
  padding: 10px;
}

@media only screen and (max-width: 700px) {
  header {
    background-image: url("images/mobile/image-header.jpg");
  }

  #desktopNav {
    display: none;
  }

  #mobileNav {
    display: none;
  }

  .top-header-nav {
    padding: 30px;
  }

  .bottom-header-text > h1 {
    font-size: 45px;
  }

  .bottom-header-text > img {
    width: 10%;
  }

  /*    1       */

  .sectionOne {
    flex-direction: column-reverse;
  }

  .sectionOne-Info {
    width: 100%;
  }

  .sectionOne-Info-Text {
    align-items: center;
    text-align: center;
  }

  .sectionOne-Info-Text > h1 {
    max-width: 250px;
    padding-top: 45px;
    padding-bottom: 20px;
  }

  .sectionOne-Info-Text > p {
    max-width: 350px;
  }

  .LM-1 {
    padding-bottom: 50px;
  }

  .sectionOne-Image {
    width: 100%;
  }

  .egg-img-D {
    display: none;
  }

  .egg-img-M {
    display: block;
    width: 100%;
  }

  /*    2       */

  .sectionTwo {
    flex-direction: column;
  }

  .sectionTwo-Image {
    width: 100%;
  }

  .cup-img-D {
    display: none;
  }

  .cup-img-M {
    display: block;
    width: 100%;
  }

  .sectionTwo-Info {
    width: 100%;
  }

  .sectionTwo-Info-Text {
    align-items: center;
    text-align: center;
  }

  .sectionTwo-Info-Text > h1 {
    max-width: 250px;
    padding-top: 45px;
    padding-bottom: 20px;
  }

  .sectionTwo-Info-Text > p {
    max-width: 325px;
  }

  .LM-2 {
    padding-bottom: 50px;
  }

  /*    3       */

  .sectionThree {
    display: flex;
    flex-direction: column;
  }

  .sectionThree-Left-Top {
    width: 100%;
  }

  .cherry-img-D {
    display: none;
  }

  .cherry-img-M {
    display: block;
    width: 100%;
  }

  .Section3-LT-Info {
    top: 65%;
  }

  .Section3-LT-Info > h2 {
    padding-bottom: 20px;
  }

  .sectionThree-Right-Bottom {
    width: 100%;
  }

  .orange-img-D {
    display: none;
  }

  .orange-img-M {
    display: block;
    width: 100%;
  }

  .Section3-RB-Info {
    top: 65%;
  }

  .Section3-RB-Info > h2 {
    padding-bottom: 20px;
  }

  /*    4       */

  .sectionFour > h4 {
    padding-top: 60px;
  }

  .testimonials {
    flex-wrap: wrap;
    padding: 50px 0;
  }

  .Testimonial-One {
    padding-bottom: 50px;
  }

  .Testimonial-One > p {
    max-width: 330px;
    padding-top: 20px;
  }

  .Testimonial-One > h5 {
    padding-top: 20px;
  }

  .Testimonial-Two {
    padding-bottom: 50px;
  }

  .Testimonial-Two > p {
    max-width: 330px;
    padding-top: 20px;
  }

  .Testimonial-Two > h5 {
    padding-top: 20px;
  }

  .Testimonial-Three > p {
    max-width: 330px;
    padding-top: 20px;
  }

  .Testimonial-Three > h5 {
    padding-top: 20px;
  }

  /*    5    */

  .desktop-Gallery {
    display: none;
  }

  .mobile-Gallery {
    display: flex;
    width: 100%;
  }
  .milk-img-M {
    width: 25%;
  }

  .orangeMilk-img-M {
    width: 25%;
  }

  .cone-img-M {
    width: 25%;
  }

  .sugarcube-img-M {
    width: 25%;
  }
}
